// login
$login-page: #21453c;
$login-bg: #235e4a;

.auth-container {
  height: 100vh;
  background-color: $login-page;
  display: flex;
  justify-content: space-around;
}

.auth-description {
  margin-top: 16.75rem;
  width: 27.5rem;
  height: 18.375rem;
  padding: 2.5rem;
  margin-left: 11.875rem;
}

.text1 {
  color: white;
  font-size: 0.75rem;
  // font-weight: 400;
  font-family: "Open Sans";
  line-height: 1.125rem;
  text-transform: uppercase;
}

.brand-box {
  margin-top: 2px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.brand-box .logo {
  height: 42px;
  width: 40px;
}

.brand-box .text2 {
  color: white;
  font-size: 2.625rem;
  font-family: "Open Sans";
  font-weight: 400;
}

.text3 {
  margin-top: 10px;
  color: #9f9f9f;
  font-size: 1rem;
  font-family: "Open Sans";
  line-height: 24px;
  font-weight: 400;
}

.text4 {
  margin-top: 2.5rem;
  color: white;
  font-size: 0.875;
  font-family: "Open Sans";
  line-height: 24px;
  font-weight: 400;
}

.subtext4 {
  color: #4fa556;
  font-weight: 600;
}

.auth-page {
  padding: 56px;
}

.auth-page-img {
  background: url("./assets/earth.png");
  height: 9.5rem;
  width: 9.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  // z-index: 1;
  // position: absolute;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: auto;
}

.auth-body {
  background-color: $login-bg;
  width: 23.75rem;
  height: 30.125rem;
  padding: 2.5rem;
  z-index: 2;
  border-radius: 10px;
}

.auth-text-head {
  color: #f3f3f3;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Open Sans";
}

.auth-form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
}

.auth-form-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4px;
}

.auth-input-icon {
  line-height: 18px;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "Open Sans";
  color: white;
}

.required {
  line-height: 21px;
  font-size: 0.875rem;
  color: #ca3c25;
  font-weight: 600;
}

.auth-input-control {
  height: 47px;
  width: 300px;
  padding: 3px;
  border-radius: 5px;
  border-color: transparent;
}

.auth-login-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4px;
}

.auth-login-button {
  border: 1.14px #E3E3E3 solid;
  border-radius: 4.5px;
  background-color: transparent;
  color: white;
  font-size: 11.21px;
  font-weight: 400;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.img {
  width: 16.23px;
  height: auto;
  opacity: 40%;
  margin: 1px;
  opacity: 0.8;
}

.auth-form-button {
  background-color: #2E9844;
  border-radius: 4px;
  padding: 12px 16px;
  color: white;
  border-color: transparent;
}

.sider {
  color: 'white';
  background: #181818;
}

.menu-brand {
  margin-top: 1rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 3rem;
}

.menu-brand-logo {
  height: 32px;
  width: 30px;
}

.menu-brand-name {
  color: white;
  font-size: 2.625rem;
  font-family: "Open Sans";
  font-weight: 400;
}

// navbar
/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure the navbar takes full width */
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.navbar-logo {
  height: 17px;
  width: 18px;
}

.view-name {
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}

.region-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
}

.region-text {
  margin-right: 10px;
}

.down-icon {
  font-size: 12px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.bell-icon {
  font-size: 20px;
  margin-right: 20px;
}

.profile-img {
  height: 40px; /* Adjust size as needed */
  width: 40px;
  border-radius: 50%;
}

/* DataEntry.css */

.assessment-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.assessment-table th, .assessment-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.assessment-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.assessment-table th .svg-inline--fa {
  margin-right: 8px;
}

.assessment-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.assessment-table tr:hover {
  background-color: #ddd;
}

.low-risk {
  color: green;
}

.medium-risk {
  color: orange;
}

.high-risk {
  color: red;
}

.status-pending {
  background-color: pink;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.status-complete {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.result-view-text {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.action-icon {
  margin: 0 5px;
  cursor: pointer;
}

.risk-message {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px
}

// tracker 

.container {
	padding: 25px;
	font-family: "Open Sans", sans-serif;
}

.overview {
	display: flex;
	gap: 16px;
  margin-bottom: 20px;
}

.tracker,
.pending-review {
  height: max-content;
	border-radius: 12px;
	padding: 20px;
	border: 1px solid #f3f3f3;
  display: flex;
  gap: 20px;
  /* align-items: center; */
}

.tracker p,
.pending-review p {
	font-size: 10px;
	/* line-height: 15px; */
	color: #101010;
	font-weight: 600;
}

.tracker h3,
.pending-review h3 {
	font-size: 28px;
	color: #101010;
	font-weight: 600;
  margin: 0;
  line-height: 30px;
}

.icon{
  width: 36px;
  height: 36px;
  border-radius: 8px;
  padding: 6px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon i{
  font-size: 20px;
}

.searchbox input{
  width: calc(100% - 20px);
  border-radius: 8px;
  padding: 15px;
	border: 1px solid #f3f3f3;
  font-size: 12px;
  position: relative;
  padding-left: 35px;
}

.searchbox input:active{
  border: 2px solid #f3f3f3;
  box-sizing: none;
  outline: none;
}

.searchbox i{
  position: absolute;
  z-index: 1;
  filter: opacity(50%);
  margin-top: 15px;
  margin-left: 15px;
}